# Lesson nine:

## -Work with files in Python:
#### -Files are important because we can store our data in them and write or read to them whenever we want.

## -Writing in file:

In [1]:
with open("file1.txt", 'w+') as my_file:
    data = "My first writing in file with amazing Python"
    my_file.write(data)

## -Reading file:

In [2]:
with open("file1.txt", 'r') as my_file:
    data = my_file.read()

print(data)

My first writing in file with amazing Python

### -More Writing:

In [3]:
with open("file1.txt", 'a+') as my_file:
    data = "\nYohooooooooooo"
    my_file.write(data)

### -And again reading the file:

In [4]:
with open("file1.txt", 'r') as my_file:
    data = my_file.read()

print(data)

My first writing in file with amazing Python
Yohooooooooooo

## -Files mode:
#### -r: open an existing file for a read operation.
#### -w: open an existing file for a write operation. If the file already contains some data then it will be overridden.
#### -a:  open an existing file for append operation. It won’t override existing data.
#### -r+:  To read and write data into the file. The previous data in the file will not be deleted.
#### -w+: To write and read data. It will override existing data.
#### -a+: To append and read data from the file. It won’t override existing data.

## -Database:

<img src="database.png">

## -Tables:

<img src="table.png">

## -Sqlite3:
### -Connection and create table:

In [5]:
import sqlite3

connector = sqlite3.connect("phone_book_database.db")
cursor = connector.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS PhoneBook (Name text, Phone Text)")

### -Adding some data:

In [6]:
cursor.execute("INSERT INTO PhoneBook VALUES ('Arash', '0938-xxx-6591')")
cursor.execute("INSERT INTO PhoneBook VALUES ('Sepideh', '0919-xxx-3357')")
cursor.execute("INSERT INTO PhoneBook VALUES ('Hamid', '0912-xxx-9102')")
cursor.execute("INSERT INTO PhoneBook VALUES ('Kimia', '0920-xxx-3140')")
connector.commit()

### -Reading Data:

In [7]:
cursor.execute("SELECT * FROM PhoneBook")
print(cursor.fetchall())

[('Arash', '0938-xxx-6591'), ('Sepideh', '0919-xxx-3357'), ('Hamid', '0912-xxx-9102'), ('Kimia', '0920-xxx-3140')]

### -Deleting Data:

In [8]:
cursor.execute("DELETE FROM PhoneBook WHERE Name = 'Arash'")
connector.commit()

cursor.execute("SELECT * FROM PhoneBook")
print(cursor.fetchall())

[('Sepideh', '0919-xxx-3357'), ('Hamid', '0912-xxx-9102'), ('Kimia', '0920-xxx-3140')]

### -Updating Data:

In [9]:
cursor.execute("UPDATE PhoneBook SET Phone = '0912-xxx-4030' WHERE Name = 'Sepideh'")
connector.commit()

cursor.execute("SELECT * FROM PhoneBook")
print(cursor.fetchall())

[('Sepideh', '0912-xxx-4030'), ('Hamid', '0912-xxx-9102'), ('Kimia', '0920-xxx-3140')]

### -Searching:

In [10]:
cursor.execute("SELECT * FROM PhoneBook WHERE Name = 'Kimia'")
print(cursor.fetchall())

[('Kimia', '0920-xxx-3140')]

### -For more visit: https://likegeeks.com/python-sqlite3-tutorial/